* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 90px;
  align-items: center;
  margin-bottom: 25px;
}

.container {
    margin: 0;
    padding: 0 20px;
}

.nav-container {
  display: flex;
  gap: 25px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px 10px 25px;
  max-width: 1200px;
  margin: 0 auto;
}

.logo img {
  height: 80px; 
  width: auto; 
  object-fit: cover;
  background: inherit;
  mix-blend-mode: multiply;
}

.nav-container input[type="text"] {
    width: 50%;
    flex: 1;
    padding: 10px 15px;
    border: 1px solid transparent;   
    border-radius: 3px;
    font-size: 14px;
    outline: none;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease;      
    margin-right: 70px;
    margin-left: 70px;  
}

.nav-container input[type="text"]:focus {
    border-color: #070708;           
    box-shadow: 0 0 5px rgba(16, 18, 20, 0.5);
    background-color: #f9fbff;      
}

nav {
    display: flex;
    align-items: center;
    gap: 25px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 20px;
}

nav ul li {
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: 0.3s ease;
}

nav ul li a:hover {
    color: #ff5722;
    transform: translateY(-2px);
}

.nav-link:hover,
.nav-link.active {
  color: #007BFF;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #007BFF;
  bottom: -5px;
  left: 0;
  border-radius: 2px;
}

.cart {
    position: relative;
    font-size: 24px;
    cursor: pointer;
    margin-left: 20px;
}

.cart i {
    color: #333;
}

.cart span {
    position: absolute;
    top: -8px;
    right: -10px;
    background: red;
    color: white;
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 12px;
}

.hamburger {
  display: none;
  font-size: 28px;
  color: #333;
  cursor: pointer;
  user-select: none;
}


.cart-container {
    width: 80%;
    margin: 70px
}

.cart-item {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.cart-item img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.cart-item .info h3 {
    margin: 0;
}

.qty-box button {
    padding: 5px 10px;
}

.qty-box span {
    margin: 0 10px;
    font-weight: bold;
}

.remove-btn {
    background: red;
    color: #fff;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.total-box {
    margin-top: 20px;
    text-align: right;
}

.checkout-btn {
    background: green;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.footer {
  background: tomato;
  color: #ddd;
  padding: 60px 20px 0;
}

.footer-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.footer h2,h3{
  color: #fff;
}

.footer-about p{
  font-size: 14px;
  line-height: 1.6;
  margin-top: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin: 8px 0;
}

.footer-links ul li a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s;
}


.footer-links ul li a:hover {
  color: #5e6565;
}


.footer-contact p{
    margin: 6px 0;
    font-size: 14px;
}

.footer-contact a{
    color: white;
    text-decoration: none;
}

.footer-contact a:hover{
    text-decoration: underline;
}    

.footer-social .social-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.footer-social .social-icons a {
  color: #ccc;
  font-size: 18px;
  padding-right: 20px;
  transition: color 0.3s;
}

.footer-social .social-icons a:hover {
  color: #00bcd4;
  transform: scale(1.2);
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #108ae7;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.footer-bottom {
  text-align: center;
  padding: 15px 0;
  border-top: 1px solid #222;
  font-size: 14px;
  color: #ffffff;
  margin-top: auto;
}

@media(max-width: 768px){
    nav{
        padding: 10px;
    }
    nav ul{
        display: none;
    }
}